@* @using ToDoList.Models;
@using System.Collections.Generic;

<h1>To Do List</h1>
<h2>Item: @Model["category"].GetName()</h2>
<hr />

@if (@Model["allItems"].Count != 0)
{
  <h4>This item has these categories:</h4>
  <ul>
    @foreach (Category category in @Model["allItems"])
    {
      <li>@category.GetName()</li>
    }
  </ul>
}

<h4>Add a category to this item:</h4>

<form action='/items/@Model["category"].GetId()/categories/new' method='post'>
  <label for='categoryId'>Select a category</label>
  <select id='categoryId' name='categoryId' type='text'>
    @foreach (var category in @Model["allItems"])
    {
      <option value='@category.GetId()'>@category.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/">Return to Main Page</a></p> *@

@using ToDoList.Models;

<h1>To Do List</h1>
<h2>Category: @Model["category"].GetName()</h2>
<hr />

@if (@Model["categoryItems"].Count != 0)
{
  <h4>Here are all the items in this category:</h4>
  <ul>
    @foreach (var item in @Model["categoryItems"])
    {
      <li>@item.GetDescription()</li>
    }
  </ul>
}

<h4>Add an item to this category:</h4>

<form action='/categories/@Model["category"].GetId()/items/new' method='post'>
  <label for='itemId'>Select a item</label>
  <select id='itemId' name='itemId' type='text'>

    @foreach (var item in @Model["allItems"])
    {
      <option value='@item.GetId()'>@item.GetDescription()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/">Return to Main Page</a></p>
